
     
        
              <div class="col-md-9 offset-md-2 card card-body mt-3">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background:darkgrey">
                        <td>Bus Id</td>
                        <td>Bus Type</td>
                        <td>Source</td>
                        <td>Destination</td>
                        <td>Arrival Time</td>
                        <td>Departure Time</td>
                        <td>Total Seats</td>
                        <td>Fare</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-info" routerLink="/addBus">Add Bus</button>&nbsp;
                                <button class="btn btn-info" routerLink="/updateBus">Update Bus</button>&nbsp;
                                <button class="btn btn-info" routerLink="/deleteBus">Delete Bus</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        


   
