
     
        
              <div class="col-md-9 offset-md-2 card card-body mt-3">
                <table class="table table-bordered table-hover table-striped">
                    <thead style="background:darkgrey">
                        <td>User Id</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phome</td>
                        <td>Action</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="btn btn-info">Add</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

