<div class="page-header"><div class="container"><h1 class="entry-title">Terms of use</h1></div></div>

<p>These Terms of Use along with Terms of Service (collectively, the “User Agreement“) constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“You/User”) and Le Travenues Technology Limited (“Travenues”), a travel technology company incorporated and existing in India in accordance with the Companies Act, 1956, concerning your access to and use of the ixigo.com website as well as mobile application related, linked, or otherwise connected thereto (collectively, the “Site”). 

ixigo.com is a travel website owned and operated by Travenues, hereinafter referred to as (“ixigo”/ “we”/ “us” or “our”).

You agree that by accessing the site, you have read, understood, and agree to be bound by all of these Terms of Use. If you do not agree with all of these Terms of Use, then you are expressly prohibited from using the Site and you must discontinue use immediately.

Supplemental terms and conditions or documents that may be posted on the site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to this User Agreement at any time and for any reason.

We will alert you about any changes by updating the “Last updated” date of these Terms of Use, and you waive any right to receive specific notice of each such change. 

It is your responsibility to periodically review these Terms of Use to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms of Use by your continued use of the Site after the date such revised Terms of Use are posted. 

The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. 

Accordingly, those persons who choose to access the site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable. 

</p>